node_modules
facepaw.db

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/static/images/posts/*
/static/images/profile/*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
